<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Disciplinas</h2>
    </div>
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-dark me-md-2 btn-lg" type="button" routerLink="/new-discipline">
        Nova Disciplina
      </button>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Laboratório</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discipline of disciplines">
        <th scope="row">{{ discipline.id }}</th>
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.description }}</td>
        <td>{{ discipline.prioritaryLab.name }}</td>
        <td><a href="#">
            <i class="bi bi-pencil-square"></i>
          </a>
          <a (click)="delete(discipline)">
            <i class="bi bi-trash3"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>