<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <h1>Reserva de LAMI's</h1>
    </div>

    <nav id="nav-menu-container" style="margin-top: -2%;">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/dashboard"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disciplinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Professores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Laboratórios</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
